@model IEnumerable<UsingWebApi.Models.Customer>
@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New Customer</a>
</p>
<!--
<form asp-controller="Customers" asp-action="Index" method="get">
    <p>
        name: <input type="text" name="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>
-->

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr style="cursor:pointer" data-record-id="@item.Id">
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                        <a asp-controller="Orders" asp-action="Create" asp-route-id="@item.Id" asp-route-name="@item.Name">Create New Order</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<p>
    <a asp-controller="Orders" asp-action="Index">Back to Order List</a>
</p>

